@import "~antd/dist/antd.css";
.App {
  display: flex;
  background-image: url("./static/login-top.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 105.5%;
  // width: 1535px;
  // height: 753px;
  // min-width: 1920PX;
  // min-height: 1080PX;
}

.logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  .App-logo {
    height: 150px;
  }
  .logoTrigger {
    position: absolute;
    height: 150px;
    cursor: pointer;
    width: 120px;
    height: 120px;
    left: 45px;
    top: 13px;
    border-radius: 50%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-link {
  color: #61dafb;
}

.mask {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.someText {
  color: white;
  font-size: 23px;
  position: absolute;
  // bottom:60px;
  top: 650px;
  text-align: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate3 {
  0% {
    left: 100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }

  100% {
    left: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }

  100% {
    top: 100%;
  }
}

@keyframes animate4 {
  0% {
    top: 100%;
  }

  100% {
    top: -100%;
  }
}
